.text-primary{
	color: red !important;
	margin: 20px 0;
	text-align: center;
}

.container{
	/*width: 1000px;*/
	display: flex;
	background-color: rebeccapurple;
	flex-direction: row;
	justify-content: flex-start;
	

}


.container-item{
	background-color: palegreen;
	width: 100px;
	margin: 10px;
	padding: 10px;
	line-height: 10px;
	text-align: center;
	color: red;
}